$primary-color: #2C72F7;
$highlight-color: #FDFF75;
$darker-than-white: #F2F2F2;
$dark-color: #16404D;
$background-color: #FFFF;
$danger-color: #FB4A4A;

* {
    margin: 0;
    font-family: "Urbanist", Arial, Helvetica, sans-serif;
}

::selection {
    $text-color: $background-color;
    color: $text-color;
    background-color: $dark-color;
}